@import "fonts";
@import "colors";

html, body {
  width: 100%;
  height: 100%;
  font-family: $alegreya;
  color: $secondary_dark_color;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: $alegreya;
  font-weight: 700;
}

.phone {
  letter-spacing: 0.05em;
}

a:hover,
a:active,
a:focus {
  color: $highlight_color;
}
