@import "colors";

.btn {
  font-weight: 700;
  letter-spacing: 0.15em;

  color: $light_color;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid $light_color;

  border-radius: 6px;
  transition: all .2s linear;
}

.more-info {
  padding: 14px 20px;
}

.btn:hover, .btn:focus, .btn:active{
  color: $highlight_color;
  background: transparent;
  border: 2px solid $highlight_color;
}
