$main_color: #FFC472;

$highlight_color: #FFA426;
$navbar_text_color: #7F6239;

$page_background_color: #FFC472;
$page_background_color_secondary: #7F6239;

$title_text_color: #7F6239;
$secondary_color: #7F6239;

$secondary_dark_color: #7F5213;