.page-contact {

  padding: 75px 0;
  color: $light_color;
  background-color: $dark_color;

  .form-control {
    border: none;
    box-shadow: none;
  }

  .controls {
    background-color: transparent;
  }

  .btn-default {
    position: relative;
    padding: 12px 26px 12px;
    margin: 40px auto 0;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 0;
  }

  input, .message {
    border-radius: 0;
  }

  label.error, label.valid {
    display: block;
    padding: 4px 18px;
    margin: 5px 0 10px;
    color: $light_color;
  }

  label.error {
    background: #b94a48;
  }
  label.valid {
    background: #5CB85C;
  }

  a, a:hover, a:focus {
    color: $light_color;
  }

  .btn:hover, .btn:focus {
    color: $dark_color;
    background: $light_color;
    border: 2px solid $dark_color;
  }

  .contact-info p {
    font-size: 1.2em;
  }

  .spacer {
    background-color: $light_color;
  }

  .section-title {
    color: $light_color;
  }
}
