.page {
  padding: 75px 0;
  text-align: center;
  font-size: 1.2em;
}

.page ul {
  text-align: left;
}

.page img {
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;

  @media (max-height: 450px) {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
  }

  @media (max-width: 768px) {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
  }
}

#elektryk img {
  width: 182px;
}

.section-header p {
  font-size: 1.5em;

  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

.section-title {
  padding: 20px 0;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.spacer {
  width: 100px;
  height: 2px;
  margin: auto;
}

.section-subtitle {
  padding: 30px 0;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.5em;
  }
}

@media (min-width: 992px) {
  .site-footer .nav-footer li, .site-footer h6 {
    margin-bottom: 8px;
  }
}

.site-footer, .site-footer a, .site-footer h6 {
  line-height: 1.5;
}

.site-footer {
  background-color: $dark_color;
  padding: 60px 0 20px;
  font-size: 1.2em;
  color: $light_color;
}

h5, .made-in-krk {
  color: $highlight_color;
}

.page-dark {
  background: $dark_color;
  color: $light_color;
}

.page-light {
  background: $light_color;
}

footer {
  display: block;
}

.site-footer a {
  border-bottom: none;
  color: $light_color;
  -webkit-transition: opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
  color: $highlight_color;
}

.spacer {
  background: $dark_color;
}

.btn.scroll-down {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 20px;
  padding: 0;
  border: none;
}

.btn.scroll-down:hover, .btn.scroll-down:focus {
  color: $highlight_color;
  border: none;
  background-color: transparent;
  padding: 6px;
}

#map { height: 300px }

.marketing ul li {
  margin: 0.75em 0;
}