.vegas-overlay {
  background-color: black;
  opacity: 0.6;
}

.slider-controls {
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.slider-controls li {
  list-style: none;
}

.welcome:hover .slider-controls {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.next {
  right: 0;
  margin-right: 70px;
  background: url("img/next.png");
  opacity: 0.3;
}

.prev {
  left: 0;
  margin-left: 70px;
  background: url("img/prev.png");
  opacity: 0.3;
}

.next:hover, .prev:hover {
  opacity: 1;
}

.slider-controls li a {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.vegas-timer-progress {
  background: $light_color;
}