html, body {
  width: 100%;
  height: 100%;
  font-family: "Alegreya", sans-serif; }

img {
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: "Alegreya", sans-serif;
  font-weight: 700; }

.centered {
  float: none;
  margin-right: auto;
  margin-left: auto; }

.navbar {
  width: 100%; }

.navbar-default {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.navbar-nav {
  display: inline-block;
  float: none;
  padding: 0;
  margin: 0 auto;
  font-size: 1em;
  font-weight: bold;
  list-style: none; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #fff; }

.welcome {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  text-align: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.welcome header {
  padding-top: 20%;
  color: #fff; }

.welcome header h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .welcome header h1 {
      font-size: 4.5em; } }

.welcome header p {
  display: block;
  padding: 0 8px;
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .welcome header p {
      font-size: 2em;
      line-height: 3em; } }

.page {
  padding: 75px 0;
  text-align: center;
  font-size: 1.2em; }

.page ul {
  text-align: left; }

.page img {
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0; }
  @media (max-height: 450px) {
    .page img {
      margin: 0 auto 20px auto;
      width: 50px;
      height: 50px; } }
  @media (max-width: 768px) {
    .page img {
      margin: 0 auto 20px auto;
      width: 50px;
      height: 50px; } }

.section-header p {
  font-size: 1.5em; }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 1.2em; } }

.section-title {
  padding: 20px 0;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 5px;
  color: #555;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .section-title {
      font-size: 1em; } }

.spacer {
  width: 100px;
  height: 2px;
  margin: auto; }

.section-subtitle {
  padding: 30px 0;
  text-align: center; }
  @media (max-width: 768px) {
    .section-subtitle {
      font-size: 0.5em; } }

@media (min-width: 992px) {
  .site-footer .nav-footer li, .site-footer h6 {
    margin-bottom: 8px; } }
.site-footer, .site-footer a, .site-footer h6 {
  line-height: 1.5; }

.site-footer {
  background-color: #243a54;
  padding: 60px 0 20px;
  font-size: 1.2em;
  color: #fff; }

h5, .made-in-krk {
  color: #3498db; }

.elektryk {
  background: #f7f7f7; }

.hydraulik {
  background: #fff; }

.spawanie {
  background: #f7f7f7; }

.slusarz {
  background: #fff; }

footer {
  display: block; }

.site-footer a {
  border-bottom: none;
  color: #fff;
  -webkit-transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none; }

.spacer {
  background: #3498db; }

.btn.scroll-down {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 20px;
  padding: 0;
  border: none; }

.btn.scroll-down:hover, .btn.scroll-down:focus {
  color: #3498db;
  border: none;
  background-color: transparent;
  padding: 6px; }

.vegas-overlay {
  opacity: 0.6;
  background-color: black; }

.slider-controls {
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.slider-controls li {
  list-style: none; }

.welcome:hover .slider-controls {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.next {
  right: 0;
  margin-right: 70px;
  background: url("../img/next.png");
  opacity: 0.3; }

.prev {
  left: 0;
  margin-left: 70px;
  background: url("../img/prev.png");
  opacity: 0.3; }

.next:hover, .prev:hover {
  opacity: 1; }

.slider-controls li a {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 60px;
  height: 60px;
  cursor: pointer; }

.page-contact .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none; }
.page-contact .controls {
  background-color: transparent; }
.page-contact .btn.btn-default {
  margin: 40px auto 0;
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 12px 26px 12px;
  cursor: pointer;
  border-radius: 0;
  letter-spacing: 2px;
  pointer-events: auto; }
.page-contact input, .page-contact .message {
  border-radius: 0; }
.page-contact .control-group.error input, .page-contact .control-group.error select, .page-contact .control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.page-contact .control-group.error .checkbox, .page-contact .control-group.error .radio, .page-contact .control-group.error input, .page-contact .control-group.error select, .page-contact .control-group.error textarea {
  color: #b94a48; }
.page-contact label.error, .page-contact label.valid {
  color: #fff;
  padding: 4px 18px;
  display: block;
  margin: 5px 0 10px; }
.page-contact label.error {
  background: #b94a48; }
.page-contact label.valid {
  background: #5CB85C; }

.page-contact {
  padding: 75px 0; }
  .page-contact a, .page-contact a:hover, .page-contact a:focus {
    color: #fff; }

.page-contact .contact-info p {
  font-size: 1.2em; }

.page-contact {
  background-color: #3498db;
  color: #fff; }
  .page-contact .btn:hover, .page-contact .btn:focus {
    background: #fff;
    color: #3498db;
    border: 2px solid #3498db;
    letter-spacing: 0.2em; }

.page-contact .spacer {
  background-color: #fff; }

.page-contact .section-title {
  color: #fff; }

.btn {
  background: transparent;
  color: #F2F2F2;
  padding: 14px 20px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.btn:hover, .btn:focus, .btn:active {
  background: #3498db;
  color: #fff;
  border: 3px solid #3498db;
  letter-spacing: 0.2em; }

.phone {
  letter-spacing: 0.05em; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
a:hover,
a:active,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3498db; }

/*# sourceMappingURL=main.css.map */
